.author {
  font-size: 0.95em;
  font-weight: 600;
  margin-top: -1.25em;
  margin-bottom: 1.25em;
}

:root {
  --sl-sidebar-width: 15rem;

  --sl-flexoki-text-base: 1rem;
  /* Font size in code blocks. Probably not okay, but Menlo (macOS) is annoyingly large at other sizes. */
  --ec-codeFontSize: var(--sl-text-xs);

  &:not([data-theme='light']) {
    --sl-color-accent: oklch(0.7 0.25 85);
    --sl-color-accent-low: oklch(0.5 0.25 85);
    --sl-color-accent-high: oklch(0.94 0.08 85);
  }
}

.hero {
  /* Remove second column when there's no image. */
  grid-template-columns: auto;
  padding-block: 2.5rem;

  @media (min-width: 50rem) {
    /* padding-block-end: revert-layer; */
  }

  /* when centered */
  padding-inline: min(3rem, 8%);
  @media (min-width: 50rem) {
    /* when not centered */
    padding-inline-start: 0;
  }

  & h1 {
    --sl-text-3xl: var(--sl-text-h1);
  }
  & .tagline {
    --sl-text-base: var(--sl-text-lg);
    max-width: 80ch;
  }
}
