.author {
  font-size: 0.95em;
  font-weight: 600;
  margin-top: -1.25em;
  margin-bottom: 1.25em;
}

:root {
  --sl-sidebar-width: 15rem;

  --sl-flexoki-text-base: 1rem;
  /* Font size in code blocks. Probably not okay, but Menlo (macOS) is annoyingly large at other sizes. */
  --ec-codeFontSize: var(--sl-text-xs);

  &:not([data-theme='light']) {
    --sl-color-black: oklch(0.2 0 0);
    --sl-color-gray-5: var(--color-base-800);
    --sl-color-accent: oklch(0.7 0.25 85);
    --sl-color-accent-low: oklch(0.5 0.25 85);
    --sl-color-accent-high: oklch(0.94 0.08 85);
  }
}
.expressive-code:not([data-theme='light']) {
  --ec-codeBg: var(--sl-color-black);
  --ec-frm-edBg: var(--sl-color-black);
  --ec-frm-edActTabBg: var(--sl-color-black);
}

/* Overrides <YouTube> component's own styles because they're wrapped in a @layer by a custom Vite plugin. */
lite-youtube {
  max-width: 550px;
  border-radius: 12px;
}

.hero {
  /* Remove second column when there's no image. */
  grid-template-columns: auto;
  padding-block-start: 3rem;

  /* when centered */
  padding-inline: min(3rem, 8%);
  @media (min-width: 50rem) {
    /* when not centered */
    padding-inline-start: 0;
  }

  & .tagline {
    max-width: 80ch;
  }
}
