---
import BaseLayout from '../layouts/Base.astro'
import { YouTube } from '@astro-community/astro-embed-youtube'
---

<BaseLayout title="days">
	<main>
		<YouTube id="AKzb2lnkp3c" posterQuality="max" />
	</main>
	<footer>
	</footer>
</BaseLayout>
