---
import BaseLayout from '../layouts/Base.astro'
---

<BaseLayout title="Days">
	<header>
		<h1>Days.</h1>
	</header>
	<main>

	</main>
	<footer>
	</footer>
</BaseLayout>

<style>
	h1 {
		margin-block: 0;
	}
</style>
