---
import BaseLayout from '@/layouts/Base.astro'
import Post from '@/components/Post.astro'

import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="🗞️ posts">
	<main>
		{
			posts.map((post) => (
				<Post post={post} />
			))
		}
	</main>
</BaseLayout>
