---
import { getEntry, type CollectionEntry } from 'astro:content'
import { dateIdFromProp, dateIdFromAstroLocals, dateIdFromSlug } from '@/lib/util'
import RepoDay from './RepoDay.astro'

interface Props {
  date?: Date | string
  day?: CollectionEntry<'github'>
}

const _getEntry = () => {
  const dateId =
    dateIdFromProp(Astro.props.date) ??
    dateIdFromSlug(Astro.url.pathname) ??
    dateIdFromAstroLocals(Astro.locals)
  if (!dateId) {
    return
  }
  return getEntry('github', dateId)
}

const { day = await _getEntry() } = Astro.props
if (!day) {
  return
}
---

<article>
  <h3>Git Commits</h3>
  {
    day.data.map(({ repo, commits }) => <RepoDay {repo} {commits} />)
  }
</article>
