---
import type { CollectionEntry } from 'astro:content'
import RepoDay from './RepoDay.astro'

interface Props {
  day: CollectionEntry<'commits'>[]
}

const { day } = Astro.props
---

<article>
  <h3>Git Commits</h3>
  {
    day.map(({ data }) => {
     return data
    //  <RepoDay {repo} {commits} />)
    })
  }
</article>
