---
import { getEntry } from 'astro:content'
import { dateIdFromProp, dateIdFromAstroLocals, dateIdFromSlug } from '@/lib/util'
import RepoDay from './RepoDay.astro'

interface Props {
  date?: Date | string
}

const dateId =
  dateIdFromProp(Astro.props.date) ??
  dateIdFromSlug(Astro.url.pathname) ??
  dateIdFromAstroLocals(Astro.locals)
if (!dateId) {
  return
}
const entry = await getEntry('github', dateId)
if (!entry) {
  return
}
---

<article>
  <h3>Git Commits</h3>
  {
    entry.data.map(({ repo, commits }) => <RepoDay {repo} {commits} />)
  }
</article>
