---
import type { CollectionEntry } from 'astro:content'
import RepoDay from './RepoDay.astro'

interface Props {
  day: CollectionEntry<'github'>
}

const { day } = Astro.props
---

<article>
  <h3>Git Commits</h3>
  {
    day.data.map(({ repo, commits }) => <RepoDay {repo} {commits} />)
  }
</article>
