---
import { getCollection } from 'astro:content'
import { slugFromDay } from '@/lib/dates'

const latest = await getCollection('youtube', (entry) => {
  const pubDate = new Date(entry.data.publishedAt)
  const msSincePub = Date.now() - pubDate.getTime()
  const MS_PER_DAY = 1000 * 3600 * 24
  return msSincePub < MS_PER_DAY * 30
})
latest.sort((a, b) => -a.data.publishedAt.localeCompare(b.data.publishedAt))
---

<!-- TODO: this needs to be a thumbnail grid. -->
<article>
  <h2>Latest Videos</h2>
  <ul>
    {latest.slice(0, 10).map((vid) => <li><a href={slugFromDay(vid.data.day)}>{vid.data.title}</a></li>)}
  </ul>
</article>

<style>
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    /* column-width: 12ch;
    > li {
      break-inside: avoid;
    }  */
  }
  a:not(:hover) {
    text-decoration: none;
  }
</style>