---
import { render, type CollectionEntry } from 'astro:content'
import PostWrapper from './PostWrapper.astro'
import Tags from './Tags.astro'

interface Props {
  headingOffset?: number
  post: CollectionEntry<'posts'>
}

// Astro lowercases routePattern (`/[...postslug]` instead of `/[...postSlug]`), which seems like a bug.
// We'll force lowercase so this doesn't break if the behavior changes.
const defaultOffset = () => {
  switch (Astro.routePattern.toLocaleLowerCase()) {
    // post route: post title h1
    case '/[...postslug]':
      return 0
    // day route: day is h1, post title h2
    case '/[...slug]':
      return 1
    // listing: days are h2, post titles h3
    default:
      return 2
  }
}

const { post, headingOffset = defaultOffset() } = Astro.props
const { Content } = await render(post)
const TitleTag = `h${1 + headingOffset}`
---

<article class="post">
  { /* On main post routes, title provided by <StarlightPage> layout. */
    headingOffset > 0 && (
      <header>
        <TitleTag>
          <a href={`/${post.id}`}>{post.data.title}</a>
        </TitleTag>
      </header>
    )
  }
  <div class="sl-markdown-content">
    <PostWrapper {headingOffset}>
      <Content />
    </PostWrapper>
  </div>
  <footer class="not-content">
    {post.data.tags && <Tags tags={post.data.tags} />}
  </footer>
</article>

<style>
  .post :global(h2) {
    font-size: var(--sl-text-h3);
  }
  .post :global(h3) {
    font-size: var(--sl-text-h4);
  }
  .post :global(h4) {
    font-size: var(--sl-text-h5);
  }
  :is(h2, h3, h4, h5, h6) a {
    text-decoration: none;
  }
</style>
