---
import { render } from 'astro:content'
import { YouTube } from '@astro-community/astro-embed-youtube'
import { Badge } from '@astrojs/starlight/components'

const { entry } = Astro.props
const { Content } = await render(entry)
---

<article class="preview">
  <header>
    <h2>
      <a href={`/${entry.id}`}>{entry.data.title}</a>
    </h2>
    <div class="metadata not-content">
      {
        entry.data?.draft && (
          <div class="badges">
            <Badge size="medium" text="draft" variant="caution" />
          </div>
        )
      }
    </div>
  </header>
  <div class="sl-markdown-content">
    <Content components={{ YouTube }} />
  </div>
</article>

<style>
  .preview {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h2 a {
    text-decoration: none;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .dates {
    font-size: var(--sl-text-sm);
  }

  .metadata-alt {
    color: var(--sl-color-gray-3);
  }

  .badges {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
</style>
