---
import { render } from 'astro:content'
import '@astro-community/astro-embed-youtube'
import { Badge } from '@astrojs/starlight/components'

const { entry } = Astro.props
const { Content } = await render(entry)
---

<article class="preview">
  <header>
    <h2>
      <a href={`/${entry.id}`}>{entry.data.title}</a>
    </h2>
    {
      entry.data?.draft && (
        <div class="metadata not-content">
          <div class="badges">
            <Badge size="medium" text="draft" variant="caution" />
          </div>
        </div>
      )
    }
  </header>
  <div class="sl-markdown-content">
    <Content />
  </div>
</article>

<style>
  h2 {
    font-size: var(--sl-text-lg);
    font-weight: 600;
  }

  h2 a {
    text-decoration: none;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .dates {
    font-size: var(--sl-text-sm);
  }

  .metadata-alt {
    color: var(--sl-color-gray-3);
  }

  .badges {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
</style>
