---
import Preview from './Preview.astro'
import { getCollection } from 'astro:content'

const docEntries = await getCollection('docs')
const filteredEntries = docEntries
  .filter(
    (entry) =>
      entry.id !== 'index' &&
      entry.data.date instanceof Date &&
      !(import.meta.env.MODE === 'production' && entry.data.draft === true)
  )
  .sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime() || a.data.title.localeCompare(b.data.title)
  })
  .slice(0, 5)
---

<section>
  {filteredEntries.map((entry) => <Preview {entry} /><hr />)}
</section>
<style>
  hr {
    margin-block: 3rem;
    border: none;
    border-top: 1px solid var(--sl-color-gray-5);
  }
</style>