---
interface Props {
  tags: string[]
}

const { tags } = Astro.props
if (tags.length === 0) {
  return
}
---

<span>tags:</span>
<ul>
  {tags.map((tag) => (
    <li><a href={`/tags/${tag}`}>{tag}</a></li>
  ))}
</ul>

<style>
  span {
    color: var(--sl-color-gray-3);
    margin-inline-end: .2em;
  }
  ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: .3em;
  }
  li a {
    border: 1px solid var(--sl-color-gray-5);
    border-radius: .3em;
    font-size: var(--sl-text-sm);
    padding-block: .25em .3em;
    padding-inline: .4em;
    text-decoration: none;

    &:hover {
      border-color: var(--sl-color-accent);
    }
  }
</style>