---
import type { CollectionEntry, CollectionKey } from 'astro:content'
import LiteYTVideo from './LiteYTVideo.astro'

interface Props {
  videos: CollectionEntry<'youtube'>[]
}

const { videos } = Astro.props
---

{
  videos.map((video) => (
    <div>
      <LiteYTVideo {...video.data} naked />
      <p>{video.data.title}</p>
    </div>
  ))
}

<style>
  div {
    position: relative;
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 .2em black;
    font-weight: 500;
    font-size: var(--sl-text-xl);
    margin: .3em .5em;
  }
</style>