---
import type { CollectionEntry } from 'astro:content'
import LiteYTVideo from './LiteYTVideo.astro'
import { Tabs, TabItem } from '@astrojs/starlight/components'

interface Props {
  categories: [string, CollectionEntry<'youtube'>[]][]
}

const { categories } = Astro.props
---

<Tabs>
  {
    categories.map(([tag, videos]) => (
      <TabItem label={tag || 'uncategorized'}>
        {videos.map((video) => (
          <>
            <LiteYTVideo {...video.data} naked />
            {video.data.description && <p>{video.data.description}</p>}
          </>
        ))}
      </TabItem>
    ))
  }
</Tabs>

<style>
  :global(ul)[role='tablist'] {
    border-bottom-color: transparent;
    /* & :global(a)[role='tab']:not([aria-selected='true']) {
      --sl-tab-color-border: var(--sl-color-gray-5);
    } */
  }
</style>
