---
import type { CollectionEntry, InferEntrySchema } from 'astro:content'
// import VideoAccordion from './VideoAccordion.astro'
import VideoTabs from './VideoTabs.astro'

interface Props {
  day: CollectionEntry<'youtube'>[]
  sort?: string[]
}

const { day, sort } = Astro.props

const tagMap: Map<string, CollectionEntry<'youtube'>[]> = new Map()

for (const vid of day) {
  // will use this at some point. tested and works as expected.
  // const tagsFromDesc = vid.data.description.match(/^Tags: (.+)$/miv)?.[1].split(', ') ?? []
  const [firstTag = ''] = vid.data.tags ?? []
  const list = tagMap.get(firstTag) ?? tagMap.set(firstTag, []).get(firstTag)!
  list.push(vid)
}

const categories = [...tagMap.entries()]
if (sort) {
  const defaultIndex = sort.includes('') ? sort.indexOf('') : sort.length
  categories.sort(([a], [b]) => {
    const a_i = sort.includes(a) ? sort.indexOf(a) : defaultIndex
    const b_i = sort.includes(b) ? sort.indexOf(b) : defaultIndex
    return a_i - b_i
  })
}
---

<article>
  <h3>YouTube</h3>
  <VideoTabs {categories} />
  <!-- <VideoAccordion {categories} /> -->
</article>
