---
import { getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { dateIdFromProp, dateIdFromAstroLocals, dateIdFromSlug } from '@/lib/util'
import Video from './LiteYTVideo.astro'

interface Props {
  date?: Date | string
  day?: CollectionEntry<'youtube'>
  sort?: string
}

const _getEntry = () => {
  const dateId =
    dateIdFromProp(Astro.props.date) ??
    dateIdFromSlug(Astro.url.pathname) ??
    dateIdFromAstroLocals(Astro.locals)
  if (!dateId) {
    return
  }
  return getEntry('youtube', dateId)
}

const { day = await _getEntry(), sort } = Astro.props
if (!day) {
  return
}

const vids = [...day.data]
if (sort) {
  // an emoji-safe function that extracts the first character of `s` and searches for it in `sortSpec`.
  // Returns the index of the first occurrence if found, or else the length of `sortSpec` (in characters, not UTF-16 code units).
  // This behavior facilitates using `sortSpec` to specify a sorting order.
  const bizarroIndexOf = (sortSpec: string, s: string) => {
    const chars = [...sortSpec]
    const [s0] = [...s]
    return chars.includes(s0) ? chars.indexOf(s0) : chars.length
  }
  vids.sort((a, b) => bizarroIndexOf(sort, a.title) - bizarroIndexOf(sort, b.title))
}
---

<article>
  <h3>YouTube</h3>
  {
    vids.map((video) => {
      return <Video {...video} naked />
    })
  }
</article>
