---
import type { CollectionEntry, InferEntrySchema } from 'astro:content'
import VideoAccordion from './VideoAccordion.astro'
import VideoTabs from './VideoTabs.astro'

interface Props {
  day: CollectionEntry<'youtube'>
  sort?: string[]
}

const { day, sort } = Astro.props

type Video = InferEntrySchema<'youtube'>[number]

const tagMap: Map<string, Video[]> = new Map()

for (const vid of day.data) {
  const [firstTag = ''] = vid.tags ?? []
  const list = tagMap.get(firstTag) ?? tagMap.set(firstTag, []).get(firstTag)!
  list.push(vid)
}

const categories = [...tagMap.entries()]
if (sort) {
  const defaultIndex = sort.includes('') ? sort.indexOf('') : sort.length
  categories.sort(([a], [b]) => {
    const a_i = sort.includes(a) ? sort.indexOf(a) : defaultIndex
    const b_i = sort.includes(b) ? sort.indexOf(b) : defaultIndex
    return a_i - b_i
  })
}
---

<article>
  <h3>YouTube</h3>
  <VideoTabs {categories} />
  <!-- <VideoAccordion {categories} /> -->
</article>
