---
const { title } = Astro.props
import { Activity } from '@lucide/astro'
import 'open-props/normalize.min.css'
/*@import "open-props/open-props.min.css";*/
import '../global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			header {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				padding: .4rem .8rem;
				box-shadow: 0px 0px 10px black;

				/* h1 is 2em */
				& :global(svg) {
					width: 1em;
					height: 1em;
				}

				&::after {
					content: '';
					flex: 1;
				}
			}
			.title {
				font-size: var(--font-size-5);
				font-weight: var(--font-weight-7);
				display: flex;
				align-items: center;
				gap: .75rem;
				flex: 1;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="title"><Activity /> days.</div>
			<h1>{title !== "days" && title}</h1>
		</header>
		<slot />
	</body>
</html>
