---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './Base.astro'

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title}>
	<main>
		<article>
			<div class="hero-image">
				{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
			</div>
			<div class="prose">
				<div class="title">
					<div class="date">
						{pubDate.toLocaleDateString()}
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on {updatedDate}
								</div>
							)
						}
					</div>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>

<style>
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
